#four{
background-color: rgb(23, 161, 230);
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        border-radius: 14px;
        padding-left: 10px;
        margin-right: 900px;
        text-align: center;
        box-shadow: 0px 0px 12px aqua;
}

.five{
        background-color: rgb(255, 204, 0);
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: justify;
        text-shadow: 0px 0px 12px rgba(236, 248, 10, 0.952);
        border-radius: 14px;
        padding: 12px;
}